<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/cc.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 1 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/mnr.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 2 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/pdc.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 3 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/mas.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 4 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/diceno.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 5 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/fpv.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 6 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/panbol.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 7 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/mts.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 8 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="../Assets/Images/ucs.jpeg" alt="Avatar" style="width:100%">
                    <div class="container2">
                        <button class="buttoncolocation" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 9 })'">Votar</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <button class="formatnull" onclick="location.href='@Url.Action("AddVote","Votation",new { value = 10 })'">
        Votar Nulo
    </button>
</body>
</html>
